body, html {
    background-color: #f6f6f6;
}

#painting {
	background-color:#fff4db;
	width:400px;
	height:400px;
	margin-top: 30px;
	margin-left: auto;
	margin-right:auto;
	box-shadow: 10px 10px 0px #8d8d8d;
}

#toprow	{
	height:100px;
}

#bigbox	{
	width: 100px;
	height: 100px;
}

#bigbox2 {
	width:90px;
	height: 100px;
}


#divider1 {
	height: 100px;
	width: 10px;
}



#divider2	{
	height:180px;
	width: 10px;
}

#divider3 {
	height:80px;
	width:10px;

}

#divider4 {
	height: 90px;
	width: 10px;
}

#smalldivider {
	height:40px;
	width: 100px;
}


#topleftcolumn	{
	height:100px;

}

#bottomleftcolumn	{
	height: 100px;

}

#fifthrow {
	height: 90px;
	
}
#secondrow	{
	height:10px;
	width:400px;
	
}

#rowdivider {
	height:10px;
	width:400px;
}

#rowdivider2 {
	height:10px;
	width: 210px;
}

.right {
	float: right;

}

#middlebox {
	height: 90px;
	width: 80px;
}

#middlebox2 {
	height:90px;
	width: 120px;
}


#rectangle	{
	width: 200px;
	height:100px;
}

#square {
	width: 180px;
	height:180px;
}

#mediumbox {
	width: 90px;
	height:80px;
}

#mediumbox2 {
	width:120px;
	height:90px;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: #80FF00;
}

.black {
	background-color: black;
}

.purple {
	background-color: purple;
}

.blue {
	background-color: blue;
}

.pink {
	background-color: #FF00C9;
}

.orange {
	background-color: orange;
}

.blue2 {
	background-color: #00FFBD 
}
